<p>Welcome, player! Let me tell you the rules to my game:</p>
<ul>
  <li>You are given a random set of letters.</li>
  <li>You have to enter the longest english word you can find using only letters in the grid.</li>
  <li>After typing your answer, you get your score combined with the time you took, and eventually an error message if you failed.</li>
</ul>
<%= link_to new_path do %>
  <button type="button" class="btn btn-dark">Play game</button>
<% end %>
