<p class="mb-2 mt-4">What is the longest word you can find?</p>
<form action="/score" method="get">
  <div class="row">
    <div class="col-7 m-0 pr-0">
      <input type="text" name="word" placeholder="Type your word" class="form-control form-control-lg mr-2">
    </div>
    <div class="col pr-0">
      <input type="submit" value="Get score" class="btn btn-dark btn-lg">
    </div>
  </div>
</form>
