/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Catamaran', sans-serif;
}

strong {
  color: #94C7FA;
}

.container-content {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container-content {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container-content {
    max-width: 500px;
  }
}

@media (max-width: 540px) {
  .container-content {
    max-width: 300px;
  }
}

#letters {
  list-style: none;
  padding: 0;
}

#letters li {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  background-color: #94C7FA;
  border-radius: 4px;
  padding: 10px;
  font-size: 24px;
  margin: 10px 0 5px;
  font-family: 'Catamaran', sans-serif;
}
